@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 79, 2, 51;
    --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  overflow-x: hidden;
}

html {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
  overflow-x: hidden;
}

 h1 {
  display: block;
  font-size: 2em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.markdown h1 {
  display: block;
  font-size: 2em;
  margin-top: 2rem;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.markdown h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 1rem;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.markdown h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.markdown p {
  margin-bottom: 0.5em;
}

.markdown ul {
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

.markdown ol {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

.markdown li {
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

/* https://codepen.io/sosuke/pen/Pjoqqp */
.tint {
  filter: invert(67%) sepia(9%) saturate(2813%) hue-rotate(283deg)
    brightness(104%) contrast(103%);
}

.tint-grey {
  filter: invert(59%) sepia(0%) saturate(0%) hue-rotate(200deg) brightness(91%)
    contrast(93%);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(
    120deg,
    rgb(125, 1, 71) 60%,
    rgb(89, 4, 52) 88%,
    rgb(84, 1, 112),
    40%,
    rgba(161, 3, 121, 0.603) 48%
  );
}

.flip-card-back {
  background: linear-gradient(
    120deg,
    rgb(93, 69, 188) 30%,
    rgb(93, 15, 139) 88%,
    rgb(245, 166, 208) 40%,
    rgba(151, 91, 225, 0.603) 78%
  );
  transform: rotateY(180deg);
}

.flip-card {
  background-color: transparent;
  width: 16rem;
  height: 8rem;
  perspective: 1000px;
}

.flip-card.partikers {
  background-color: transparent;
  width: 24rem;
  height: 16rem;
  perspective: 1000px;
}

.flip-card.fake-artist {
  background-color: transparent;
  width: 12rem;
  height: 8rem;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.poetry {
  background-color: transparent;
  width: 16rem;
  height: 12rem;
  perspective: 1000px;
}

.flip-card .flipped {
  transform: rotateY(180deg);
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.lock-scroll {
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.circle-background {
  fill: none;
  stroke: rgb(125, 1, 71);
}

.circle-progress {
  fill: none;
  /* stroke: rgb(125, 1, 71); */
  stroke-linecap: round;
  stroke-linejoin: round;
}

.normal-button {
  @apply bg-[#f0f0f0] text-[#242424] text-[1.35rem] font-semibold shadow-[inset_0_0.0625em_0_0_#f4f4f4,0_0.0625em_0_0_#efefef,0_0.125em_0_0_#ececec,0_0.25em_0_0_#e0e0e0,0_0.3125em_0_0_#dedede,0_0.375em_0_0_#dcdcdc,0_0.425em_0_0_#cacaca,0_0.425em_0.5em_0_#cecece] transition-[0.15s] duration-[ease] cursor-pointer px-[1em] py-[0.375em] rounded-[0.5em] border-0 active:shadow-[inset_0_0.03em_0_0_#f4f4f4,0_0.03em_0_0_#efefef,0_0.0625em_0_0_#ececec,0_0.125em_0_0_#e0e0e0,0_0.125em_0_0_#dedede,0_0.2em_0_0_#dcdcdc,0_0.225em_0_0_#cacaca,0_0.225em_0.375em_0_#cecece];
  font: inherit;
  text-shadow: 0 0.0625em 0 #fff;
}
.normal-button:active {
  translate: 0 0.225em;
}
